# Study of crimes against heritage by province in Spain from 2010 to 2023

## Hypothesis, project and approach

This is a hypothetical case framed in the Ironhack Data Analysis Bootcamp, as a project for the third week.

The premise is that the three of us (David M., Greta and Luis H. Rodriguez) work in the data analysis team of an insurance company. The company is trying to identify where it should strengthen, improve or develop new insurance against theft against individuals in Spain.

The source of the project is the data collected and offered by the Ministry of the Interior of the Government of Spain between 2010 and 2023.

## Import libraries and data

In [19]:
# It is recommended to install the requirements.txt file

# %pip install -r requirements.txt

In [20]:
# Import libraries and functions.py

from functions import *
import pandas as pd
import streamlit as st
import folium
from streamlit_folium import folium_static

In [21]:
# Import data from 01002(1).xlsx

url_robberies = ("https://github.com/LuisHRF/Home-Insurance-Study-Project-/raw/main/01002%20(1).xlsx")

data_raw_robberies = pd.read_excel(url_robberies)

data_raw_robberies.head(10)

,,1. CONTRA LAS PERSONAS,1.2.-Lesiones,5.1.-Hurtos,5.2.-Robos con fuerza en las cosas,5.2.1.-Robos con fuerza en las cosas en el interior de vehículos,5.2.2.-Robos con fuerza en viviendas,5.2.3.-Robos con fuerza en establecimientos,5.3.-Robos con violencia o intimidación,5.3.1.-Robos con violencia en vía pública,5.3.2.-Robos con violencia en viviendas,5.3.3.-Robos con violencia en establecimientos
0,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total Nacional,226761.0,118125.0,665622.0,272638.0,104988.0,84721.0,35072.0,64711.0,44406.0,3844.0,8238.0
2,Araba/Álava,1386.0,745.0,4184.0,1099.0,8.0,434.0,178.0,114.0,82.0,6.0,14.0
3,Albacete,1638.0,851.0,3771.0,1784.0,421.0,636.0,204.0,211.0,120.0,23.0,46.0
4,Alicante/Alacant,11416.0,5326.0,27014.0,12716.0,3723.0,6275.0,1241.0,1997.0,1161.0,245.0,343.0
5,Almería,4343.0,2517.0,6437.0,4193.0,1106.0,1602.0,399.0,657.0,397.0,67.0,81.0
6,Ávila,722.0,453.0,784.0,646.0,79.0,269.0,75.0,26.0,10.0,7.0,5.0
7,Badajoz,2516.0,1621.0,4844.0,2682.0,622.0,967.0,383.0,231.0,107.0,29.0,70.0
8,Balears (Illes),10159.0,4495.0,23009.0,6806.0,3195.0,1937.0,738.0,1519.0,994.0,82.0,228.0
9,Barcelona,16470.0,10527.0,141789.0,44688.0,22066.0,12042.0,5442.0,22792.0,17358.0,808.0,1787.0

## Data cleaning, formating and processing

In [22]:
# First we eliminate the null rows that contain only the year value, since there is a pattern

data_clean = data_raw_robberies.dropna()

data_clean

,,1. CONTRA LAS PERSONAS,1.2.-Lesiones,5.1.-Hurtos,5.2.-Robos con fuerza en las cosas,5.2.1.-Robos con fuerza en las cosas en el interior de vehículos,5.2.2.-Robos con fuerza en viviendas,5.2.3.-Robos con fuerza en establecimientos,5.3.-Robos con violencia o intimidación,5.3.1.-Robos con violencia en vía pública,5.3.2.-Robos con violencia en viviendas,5.3.3.-Robos con violencia en establecimientos
1,Total Nacional,226761.0,118125.0,665622.0,272638.0,104988.0,84721.0,35072.0,64711.0,44406.0,3844.0,8238.0
2,Araba/Álava,1386.0,745.0,4184.0,1099.0,8.0,434.0,178.0,114.0,82.0,6.0,14.0
3,Albacete,1638.0,851.0,3771.0,1784.0,421.0,636.0,204.0,211.0,120.0,23.0,46.0
4,Alicante/Alacant,11416.0,5326.0,27014.0,12716.0,3723.0,6275.0,1241.0,1997.0,1161.0,245.0,343.0
5,Almería,4343.0,2517.0,6437.0,4193.0,1106.0,1602.0,399.0,657.0,397.0,67.0,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...
779,Zaragoza,5171.0,1988.0,14860.0,7904.0,1895.0,1756.0,1271.0,1531.0,1052.0,96.0,235.0
780,Ceuta,833.0,393.0,983.0,723.0,497.0,93.0,49.0,189.0,141.0,8.0,13.0
781,Melilla,1011.0,501.0,1043.0,774.0,427.0,156.0,79.0,194.0,171.0,1.0,8.0
782,En el extranjero,158.0,17.0,2427.0,674.0,142.0,19.0,51.0,177.0,138.0,5.0,6.0
783,Desconocida,6.0,5.0,188.0,218.0,0.0,3.0,30.0,5.0,2.0,1.0,0.0

In [23]:
unique_first_column = data_clean.iloc[:, 0].unique()

unique_first_column

array(['    Total Nacional', '    Araba/Álava', '    Albacete',
       '    Alicante/Alacant', '    Almería', '    Ávila', '    Badajoz',
       '    Balears (Illes)', '    Barcelona', '    Burgos',
       '    Cáceres', '    Cádiz', '    Castellón/Castelló',
       '    Ciudad Real', '    Córdoba', '    Coruña (A)', '    Cuenca',
       '    Girona', '    Granada', '    Guadalajara', '    Gipuzkoa',
       '    Huelva', '    Huesca', '    Jaén', '    León', '    Lleida',
       '    Rioja (La)', '    Lugo', '    Madrid', '    Málaga',
       '    Murcia', '    Navarra', '    Ourense', '    Asturias',
       '    Palencia', '    Palmas (Las)', '    Pontevedra',
       '    Salamanca', '    Santa Cruz de Tenerife', '    Cantabria',
       '    Segovia', '    Sevilla', '    Soria', '    Tarragona',
       '    Teruel', '    Toledo', '    Valencia/València',
       '    Valladolid', '    Bizkaia', '    Zamora', '    Zaragoza',
       '    Ceuta', '    Melilla', '    En el extranjero',
       '    Desconocida'], dtype=object)

In [24]:
# Since each year has the same number of values, we set blocks for each year and iterate to determine which row to which row each year belongs to

block_sizes = [55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55]
start = 1
year_ranges = {}

for i, size in enumerate(block_sizes):
    end = start + size - 1
    year = 2023 - i
    year_ranges[(start, end)] = year
    start = end + 2  

print(year_ranges)

{(1, 55): 2023, (57, 111): 2022, (113, 167): 2021, (169, 223): 2020, (225, 279): 2019, (281, 335): 2018, (337, 391): 2017, (393, 447): 2016, (449, 503): 2015, (505, 559): 2014, (561, 615): 2013, (617, 671): 2012, (673, 727): 2011, (729, 783): 2010}

In [25]:
year_range = { # We create a dictionary where we can save the corresponding rows for each year
    (1, 55): 2023,
    (57, 111): 2022,
    (113, 167): 2021,
    (169, 223): 2020,
    (225, 279): 2019,
    (281, 335): 2018,
    (337, 391): 2017,
    (393, 447): 2016,
    (449, 503): 2015,
    (505, 559): 2014,
    (561, 615): 2013,
    (617, 671): 2012,
    (673, 727): 2011,
    (729, 783): 2010
}

data_clean_years = defi_years_per_block(data_clean, year_range)

data_clean_years.tail(10)

,,1. CONTRA LAS PERSONAS,1.2.-Lesiones,5.1.-Hurtos,5.2.-Robos con fuerza en las cosas,5.2.1.-Robos con fuerza en las cosas en el interior de vehículos,5.2.2.-Robos con fuerza en viviendas,5.2.3.-Robos con fuerza en establecimientos,5.3.-Robos con violencia o intimidación,5.3.1.-Robos con violencia en vía pública,5.3.2.-Robos con violencia en viviendas,5.3.3.-Robos con violencia en establecimientos,Year
774,Toledo,4301.0,1476.0,5420.0,7131.0,487.0,2313.0,1175.0,398.0,229.0,30.0,90.0,2010.0
775,Valencia/València,17646.0,6380.0,44641.0,32568.0,9350.0,9451.0,3897.0,6345.0,4505.0,388.0,774.0,2010.0
776,Valladolid,3183.0,1121.0,7937.0,2993.0,652.0,565.0,506.0,301.0,180.0,23.0,64.0,2010.0
777,Bizkaia,6945.0,2849.0,15197.0,10849.0,29.0,2336.0,1470.0,2045.0,1449.0,157.0,261.0,2010.0
778,Zamora,810.0,340.0,1090.0,752.0,93.0,165.0,205.0,62.0,33.0,7.0,18.0,2010.0
779,Zaragoza,5171.0,1988.0,14860.0,7904.0,1895.0,1756.0,1271.0,1531.0,1052.0,96.0,235.0,2010.0
780,Ceuta,833.0,393.0,983.0,723.0,497.0,93.0,49.0,189.0,141.0,8.0,13.0,2010.0
781,Melilla,1011.0,501.0,1043.0,774.0,427.0,156.0,79.0,194.0,171.0,1.0,8.0,2010.0
782,En el extranjero,158.0,17.0,2427.0,674.0,142.0,19.0,51.0,177.0,138.0,5.0,6.0,2010.0
783,Desconocida,6.0,5.0,188.0,218.0,0.0,3.0,30.0,5.0,2.0,1.0,0.0,2010.0

In [26]:
# We apply different functions to clean the names of the columns, translate them into English

data_clean_years = cleaning_columns_replace(data_clean_years)

In [27]:
data_clean_years.columns = translate_columns(data_clean_years.columns)

In [28]:
values_to_remove = ['    Total Nacional', '    En el extranjero','    Desconocida']

data_clean_years = drop_specific_rows(data_clean_years, 'Province', values_to_remove)

In [37]:
data_clean = data_clean_years

,Province,assault,injuries,small_robberies,robberies_with_force,robberies_force_vehicles,robberies_force_homes,robberies_force_stores,robberies_violence_intimidation,robberies_violence_publicways,robberies_violence_homes,robberies_violence_stores,year
2,Araba/Álava,1386.0,745.0,4184.0,1099.0,8.0,434.0,178.0,114.0,82.0,6.0,14.0,2023.0
3,Albacete,1638.0,851.0,3771.0,1784.0,421.0,636.0,204.0,211.0,120.0,23.0,46.0,2023.0
4,Alicante/Alacant,11416.0,5326.0,27014.0,12716.0,3723.0,6275.0,1241.0,1997.0,1161.0,245.0,343.0,2023.0
5,Almería,4343.0,2517.0,6437.0,4193.0,1106.0,1602.0,399.0,657.0,397.0,67.0,81.0,2023.0
6,Ávila,722.0,453.0,784.0,646.0,79.0,269.0,75.0,26.0,10.0,7.0,5.0,2023.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,Bizkaia,6945.0,2849.0,15197.0,10849.0,29.0,2336.0,1470.0,2045.0,1449.0,157.0,261.0,2010.0
778,Zamora,810.0,340.0,1090.0,752.0,93.0,165.0,205.0,62.0,33.0,7.0,18.0,2010.0
779,Zaragoza,5171.0,1988.0,14860.0,7904.0,1895.0,1756.0,1271.0,1531.0,1052.0,96.0,235.0,2010.0
780,Ceuta,833.0,393.0,983.0,723.0,497.0,93.0,49.0,189.0,141.0,8.0,13.0,2010.0
781,Melilla,1011.0,501.0,1043.0,774.0,427.0,156.0,79.0,194.0,171.0,1.0,8.0,2010.0

## Analysis 1 = Map with total crimes by year and province

In [30]:
data_coordinates_total = data_clean.copy()

data_coordinates_total = add_coordinates_from_dict(data_coordinates_total)
data_coordinates_total.head(10)

,Province,assault,injuries,small_robberies,robberies_with_force,robberies_force_vehicles,robberies_force_homes,robberies_force_stores,robberies_violence_intimidation,robberies_violence_publicways,robberies_violence_homes,robberies_violence_stores,year,Latitude,Longitude
2,Araba/Álava,1386.0,745.0,4184.0,1099.0,8.0,434.0,178.0,114.0,82.0,6.0,14.0,2023.0,42.84671,-2.67245
3,Albacete,1638.0,851.0,3771.0,1784.0,421.0,636.0,204.0,211.0,120.0,23.0,46.0,2023.0,38.99435,-1.85854
4,Alicante/Alacant,11416.0,5326.0,27014.0,12716.0,3723.0,6275.0,1241.0,1997.0,1161.0,245.0,343.0,2023.0,38.34517,-0.48149
5,Almería,4343.0,2517.0,6437.0,4193.0,1106.0,1602.0,399.0,657.0,397.0,67.0,81.0,2023.0,36.83405,-2.46371
6,Ávila,722.0,453.0,784.0,646.0,79.0,269.0,75.0,26.0,10.0,7.0,5.0,2023.0,40.65668,-4.68186
7,Badajoz,2516.0,1621.0,4844.0,2682.0,622.0,967.0,383.0,231.0,107.0,29.0,70.0,2023.0,38.87945,-6.97065
8,Balears (Illes),10159.0,4495.0,23009.0,6806.0,3195.0,1937.0,738.0,1519.0,994.0,82.0,228.0,2023.0,39.57119,2.64663
9,Barcelona,16470.0,10527.0,141789.0,44688.0,22066.0,12042.0,5442.0,22792.0,17358.0,808.0,1787.0,2023.0,41.38506,2.17340
10,Burgos,1393.0,755.0,2828.0,1532.0,319.0,588.0,271.0,183.0,113.0,10.0,36.0,2023.0,42.34399,-3.69691
11,Cáceres,1271.0,736.0,1949.0,1058.0,170.0,299.0,196.0,81.0,40.0,18.0,11.0,2023.0,39.47649,-6.37224

In [31]:
data_coordinates_total.columns

Index(['Province', ' assault', ' injuries', 'small_robberies',
       'robberies_with_force', 'robberies_force_vehicles',
       'robberies_force_homes', 'robberies_force_stores',
       'robberies_violence_intimidation', 'robberies_violence_publicways',
       'robberies_violence_homes', 'robberies_violence_stores', 'year',
       'Latitude', 'Longitude'],
      dtype='object')

In [38]:
# Crear un data_frame más ajustado para el mapa
# Primero, crear una columna de crímenes totales por provincia
data_total_crimes = data_coordinates_total.copy()
data_total_crimes['Total_crimes'] = data_coordinates_total[[' assault', ' injuries', 'small_robberies',
       'robberies_with_force', 'robberies_force_vehicles',
       'robberies_force_homes', 'robberies_force_stores',
       'robberies_violence_intimidation', 'robberies_violence_publicways',
       'robberies_violence_homes', 'robberies_violence_stores']].sum(axis = 1)

data_total_crimes

In [33]:
data_frame_total_map = data_total_crimes[['Province', 'year', 'Latitude', 'Longitude', 'Total_crimes']]

data_frame_total_map.head(5)

               Province    year  Latitude  Longitude  Total_crimes
2           Araba/Álava  2023.0  42.84671   -2.67245        8250.0
3              Albacete  2023.0  38.99435   -1.85854        9705.0
4      Alicante/Alacant  2023.0  38.34517   -0.48149       71457.0
5               Almería  2023.0  36.83405   -2.46371       21799.0
6                 Ávila  2023.0  40.65668   -4.68186        3076.0

In [34]:


data_frame_total_map['year'] = data_frame_total_map['year'].fillna(0)

data_frame_total_map['year'] = data_frame_total_map['year'].astype(int)


data_frame_total_map.head(5)

C:\Users\VSPC\AppData\Local\Temp\ipykernel_27908\2806440261.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame_total_map['year'] = data_frame_total_map['year'].fillna(0)
C:\Users\VSPC\AppData\Local\Temp\ipykernel_27908\2806440261.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame_total_map['year'] = data_frame_total_map['year'].astype(int)

               Province  year  Latitude  Longitude  Total_crimes
2           Araba/Álava  2023  42.84671   -2.67245        8250.0
3              Albacete  2023  38.99435   -1.85854        9705.0
4      Alicante/Alacant  2023  38.34517   -0.48149       71457.0
5               Almería  2023  36.83405   -2.46371       21799.0
6                 Ávila  2023  40.65668   -4.68186        3076.0

In [35]:
data_pivot_map = data_frame_total_map.pivot_table(index=['Province', 'Latitude', 'Longitude'], columns='year', values='Total_crimes', aggfunc='sum').reset_index()

data_pivot_map.head(5)

year,Province,Latitude,Longitude,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Albacete,38.99435,-1.85854,12849.0,12812.0,13103.0,12757.0,11743.0,10414.0,9375.0,9537.0,9467.0,9408.0,6407.0,6773.0,9307.0,9705.0
1,Alicante/Alacant,38.34517,-0.48149,108020.0,104511.0,101450.0,95120.0,88872.0,81636.0,79411.0,76329.0,71339.0,69361.0,49710.0,52437.0,63483.0,71457.0
2,Almería,36.83405,-2.46371,33407.0,34001.0,34064.0,31206.0,29297.0,27369.0,26329.0,24305.0,21349.0,20578.0,15370.0,17435.0,20129.0,21799.0
3,Araba/Álava,42.84671,-2.67245,13368.0,12647.0,11456.0,10880.0,10493.0,9376.0,8339.0,8204.0,8013.0,8027.0,5209.0,6202.0,8059.0,8250.0
4,Asturias,43.36191,-5.84939,25092.0,25153.0,26049.0,25055.0,23052.0,21103.0,19406.0,17874.0,17189.0,17178.0,12764.0,13765.0,17376.0,19612.0

In [36]:
data_pivot_map.to_csv('data_pivot_map.csv', index = False)

## Analysis 2 = Crime growth throught years

In [39]:
data_total_crimes

,Province,assault,injuries,small_robberies,robberies_with_force,robberies_force_vehicles,robberies_force_homes,robberies_force_stores,robberies_violence_intimidation,robberies_violence_publicways,robberies_violence_homes,robberies_violence_stores,year,Latitude,Longitude,Total_crimes
2,Araba/Álava,1386.0,745.0,4184.0,1099.0,8.0,434.0,178.0,114.0,82.0,6.0,14.0,2023.0,42.84671,-2.67245,8250.0
3,Albacete,1638.0,851.0,3771.0,1784.0,421.0,636.0,204.0,211.0,120.0,23.0,46.0,2023.0,38.99435,-1.85854,9705.0
4,Alicante/Alacant,11416.0,5326.0,27014.0,12716.0,3723.0,6275.0,1241.0,1997.0,1161.0,245.0,343.0,2023.0,38.34517,-0.48149,71457.0
5,Almería,4343.0,2517.0,6437.0,4193.0,1106.0,1602.0,399.0,657.0,397.0,67.0,81.0,2023.0,36.83405,-2.46371,21799.0
6,Ávila,722.0,453.0,784.0,646.0,79.0,269.0,75.0,26.0,10.0,7.0,5.0,2023.0,40.65668,-4.68186,3076.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,Bizkaia,6945.0,2849.0,15197.0,10849.0,29.0,2336.0,1470.0,2045.0,1449.0,157.0,261.0,2010.0,43.26301,-2.93499,43587.0
778,Zamora,810.0,340.0,1090.0,752.0,93.0,165.0,205.0,62.0,33.0,7.0,18.0,2010.0,41.50332,-5.74456,3575.0
779,Zaragoza,5171.0,1988.0,14860.0,7904.0,1895.0,1756.0,1271.0,1531.0,1052.0,96.0,235.0,2010.0,41.64882,-0.88909,37759.0
780,Ceuta,833.0,393.0,983.0,723.0,497.0,93.0,49.0,189.0,141.0,8.0,13.0,2010.0,35.88939,-5.31979,3922.0
781,Melilla,1011.0,501.0,1043.0,774.0,427.0,156.0,79.0,194.0,171.0,1.0,8.0,2010.0,35.29298,-2.93871,4365.0

In [40]:
data_frame_growth_crime = data_total_crimes[['Province', 'year', 'Total_crimes']]

data_frame_growth_crime

                 Province    year  Latitude  Longitude  Total_crimes
2             Araba/Álava  2023.0  42.84671   -2.67245        8250.0
3                Albacete  2023.0  38.99435   -1.85854        9705.0
4        Alicante/Alacant  2023.0  38.34517   -0.48149       71457.0
5                 Almería  2023.0  36.83405   -2.46371       21799.0
6                   Ávila  2023.0  40.65668   -4.68186        3076.0
..                    ...     ...       ...        ...           ...
777               Bizkaia  2010.0  43.26301   -2.93499       43587.0
778                Zamora  2010.0  41.50332   -5.74456        3575.0
779              Zaragoza  2010.0  41.64882   -0.88909       37759.0
780                 Ceuta  2010.0  35.88939   -5.31979        3922.0
781               Melilla  2010.0  35.29298   -2.93871        4365.0

[728 rows x 5 columns]